#footer.text-center
  %h4
    Footer Text
    %small This is smaller
  %p= mail_to("evansenter@gmail.com")
  %abbr{ title: "Office" } O
  (123) 456-7890
  %br
  %abbr{ title: "Fax" } F
  (123) 456-7890
