%nav.navbar.navbar-default.navbar-fixed-top{ role: "navigation" }
  .container
    .navbar-header
      %button.navbar-toggle{ "type" => "button", "data-toggle" => "collapse", "data-target" => "#navbar_links" }
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a{href: root_path}
        %img.navbar-brand.img-responsive{alt: "WWI Logo", src: "/assets/wwi_logo_light_long.svg"}/
    #navbar_links.navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li.uploads_tab
          = link_to(t("navigation.research"), articles_path)
        - if admin_signed_in?
          %li.admin_tab
            = link_to(t("navigation.admin"), manage_path)
      = render "shared/login"
      - if current_user
        = render "shared/search"

