/ #landing_layout
/   .splash-container
/     .splash
/       %h1.splash-head Hydrosustainability
/       %p.splash-subhead
/         What would happen if we took market-based approaches to solving the
/         world’s largest water resource and scarcity challenges?
/   .content-wrapper
/     .content
/       %h2.content-head.is-center Innovating research in market-based water solutions
/       .l-box-lrg
/         %h3.content-subhead
/           %i.fa.fa-flask>
/           Our challenge
/         %p
/           World Water Institute (WWI) is an organization composed of thought leaders in academia, business and
/           government, dedicated to finding creative solutions to the world's most pressing environmental issues.
/           We want to discover new technologies and develop practices that advance historical use, distribution,
/           and regulation of water by leveraging science, policy, and finance. Our researchers and practitioners
/           unveil approaches to resource and quality management that will transform how societies think about and
/           use the world’s limited supply of water.
/     .ribbon.l-box-lrg.pure-g
/       .l-box-lrg.is-center.pure-u-1.pure-u-md-1-2.pure-u-lg-2-5
/         %img.pure-img-responsive{:alt => "File Icons", :src => "/assets/wwi_logo_light.svg", :width => "300"}/
/       .pure-u-1.pure-u-md-1-2.pure-u-lg-3-5
/         %h2.content-head.content-head-ribbon Our mission
/         %p
/           World Water Institute (WWI) is a nonprofit think tank dedicated to sourcing, disseminating, and
/           increasing awareness of key issues that affect water resources globally.
/     .content
/       %h2.content-head.is-center Market-based responses to real world water issues.
/       .pure-g
/         .l-box-lrg.pure-u-1.pure-u-md-2-5
/           %form.pure-form.pure-form-stacked
/             %fieldset
/               %label{:for => "name"} First Name
/               %input#name{:placeholder => "First Name", :type => "text"}/
/               %label{:for => "name"} Last Name
/               %input#name{:placeholder => "Last Name", :type => "text"}/
/               %label{:for => "email"} Email Address
/               %input#email{:placeholder => "Email Address", :type => "email"}/
/               %button.pure-button{:type => "submit"} Sign Up
/         .l-box-lrg.pure-u-1.pure-u-md-3-5
/           %h4 Our standard
/           %p
/             WWI is for scholars who are committed to bringing cutting edge perspectives to
/             issues and policies surrounding water, to educate and promote effective use, distribution,
/             and recycling of the resource.
/           %h4 Learn more
/           %p
/             Join our thought provoking research movement to help deliver insights to markets all over the world.
/             To learn more about WWI during our web page development period, please use the form on the
/             left to request further information and a member of our team will contact you.
/     .footer.l-box.is-center
/       World Water Institute will be a 501(c)(3) non-profit organization that empowers people to solve global
/       water challenges. We partner with leading universities, research institutions, and thought leaders
/       who help to accelerate cutting edge research surrounding water trading to promote effective policy
/       and transformational market solutions.

%a{:name => "about"}
.intro-header
  .container
    .row
      .col-lg-12
        .intro-message
          %h1 Hydrosustainability
          %hr.intro-divider/
          %h4 What would happen if we took market-based approaches to solving the world’s largest water resource and scarcity challenges?

%a{:name => "services"}
.content-section-a
  .container
    .row
      .col-lg-5.col-sm-6
        %hr.section-heading-spacer/
        .clearfix
        %h2.section-heading
          Death to the Stock Photo:
          %br>/
          Special Thanks
        %p.lead
          A special thanks to
          %a{:href => "http://join.deathtothestockphoto.com/", :target => "_blank"} Death to the Stock Photo
          for providing the photographs that you see in this template. Visit their website to become a member.
      .col-lg-5.col-lg-offset-2.col-sm-6
        %img.img-responsive{:alt => "", :src => "img/ipad.png"}/
  / /.container
/ /.content-section-a
.content-section-b
  .container
    .row
      .col-lg-5.col-lg-offset-1.col-sm-push-6.col-sm-6
        %hr.section-heading-spacer/
        .clearfix
        %h2.section-heading
          3D Device Mockups
          %br>/
          by PSDCovers
        %p.lead
          Turn your 2D designs into high quality, 3D product shots in seconds using free Photoshop actions by
          = succeed "!" do
            %a{:href => "http://www.psdcovers.com/", :target => "_blank"} PSDCovers
      .col-lg-5.col-sm-pull-6.col-sm-6
        %img.img-responsive{:alt => "", :src => "img/dog.png"}/
  / /.container
/ /.content-section-b
.content-section-a
  .container
    .row
      .col-lg-5.col-sm-6
        %hr.section-heading-spacer/
        .clearfix
        %h2.section-heading
          Google Web Fonts and
          %br>/
          Font Awesome Icons
        %p.lead
          This template features the 'Lato' font, part of the
          = succeed "," do
            %a{:href => "http://www.google.com/fonts", :target => "_blank"} Google Web Font library
          = succeed "." do
            %a{:href => "http://fontawesome.io", :target => "_blank"} icons from Font Awesome
      .col-lg-5.col-lg-offset-2.col-sm-6
        %img.img-responsive{:alt => "", :src => "img/phones.png"}/

%a{:name => "contact"}
.banner
  .container
    .row
      .col-lg-6
        %h2 Connect to Start Bootstrap:

%footer
  .container
    .row
      .col-lg-12
        %p.copyright.text-muted.small World Water Institute will be a 501(c)(3) non-profit organization that empowers people to solve global water challenges. We partner with leading universities, research institutions, and thought leaders who help to accelerate cutting edge research surrounding water trading to promote effective policy and transformational market solutions.
