/*
 *= require_self
 *= bootstrap.transloadit
 */

 $icon-font-path: "bootstrap-sass/assets/fonts/bootstrap/";
 $lato-font-path: "lato/font/";
 @import "font-awesome-sprockets";
 @import "font-awesome";
 @import "bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
 @import "bootstrap-sass/assets/stylesheets/bootstrap";
 @import "lato/scss/lato";

 body {
  padding-top: 70px;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
 }

 .bottom-buffer-xl {
   margin-bottom: 40px;
 }

 .top-buffer {
   margin-top: 20px;
 }

 .top-buffer-xl {
   margin-top: 40px;
 }

 h1, h2, h3, h4, h5, h6 {
   font-family: "lato-light", "Helvetica Neue", Helvetica, Arial, sans-serif;
 }

 .navbar-brand {
  padding: 0;
 }

 .colorize-blue {
   color: #428bca;
 }

 .colorize-red {
   color: #c12e2a;
 }

 .flexible_container {
     position: relative;
     padding-bottom: 56.25%;
     padding-top: 30px;
     height: 0;
     overflow: hidden;
 }

 .flexible_container iframe,
 .flexible_container object,
 .flexible_container embed {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
 }
