%h1
  Documents

.row
  .col-md-8.col-md-offset-2
    %ul#document_tab_header.nav.nav-pills
      - Upload::CATEGORIES.each do |title, id|
        %li
          %a{ href: "##{id}", "data-toggle" => "pill" }= title

    #document_tab_content.tab-content
      - Upload::CATEGORIES.each do |title, id|
        .tab-pane.fade{ id: id }
          = render partial: "uploads_tab", locals: { title: title, id: id }

    :javascript
      $("ul#document_tab_header > li:first").addClass("active");
      $("#document_tab_content > div:first").addClass("in active");


    - if admin_signed_in?
      .row
        .col-md-2.col-md-offset-10
          = link_to("Upload research", new_upload_path, class: "btn btn-success")
