%h1
  Documents

.row
  .col-md-8.col-md-offset-2
    %ul#document_tab_header.nav.nav-pills
      - Upload.categories_with_ids.each do |title, id|
        %li
          %a{ href: "##{id}", "data-toggle" => "pill" }= title

    #document_tab_content.tab-content
      - Upload.categories_with_ids.each_with_index do |(title, id), position|
        .tab-pane.fade{ id: id }
          = render partial: "uploads_tab", locals: { id: position }

    :javascript
      $("ul#document_tab_header > li:first").addClass("active");
      $("#document_tab_content > div:first").addClass("in active");


    - if admin_signed_in?
      .row
        .col-md-2.col-md-offset-10
          = link_to("Upload research", new_article_path, class: "btn btn-success")
